.page {
	// .page--index
	&--index {
	}
}


.sport-wrapper {
	&::before {
		content:'';
		@extend %absoluteBgImage;
		z-index: -1;
		background-image: url("@img/bgs/bg-1-mb.png");
		@media (min-width:toEm($mobileSmall)){
			background-image: url("@img/bgs/bg-1-pc.png");
		}
		@media (max-width: toEm($mobileSmall)){
			 width: 117%;
			 height: auto; 
			 aspect-ratio: 476/335;
			 top: 70px;
		}
	}
}

.sport-logo {
	position: relative;
	pointer-events: none;
	z-index: 5;
	left: 50%;
	transform: translate(-50%,0);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 30px;
	width: 100%;
	gap: 23px;
	top: 0; 
	padding-top: 107px;
	margin-bottom: 37px;
	@media (min-width:toEm(1000.98)){
		position: absolute;
		padding-top: 0;
		top: 50px;
		margin-bottom: 0;
	}
	@media (min-width:toEm($mobileSmall)){
		gap: 40px;
		// padding-inline: 0;
		// max-width: 312px;
	}
		// .sport-logo__img
		&__img {
			flex: 1;
			img {
				width: 100%;
				height: auto;
			}
			&.img-1 {
				max-width: 72px;
				@media (min-width:toEm($mobileSmall)){
					max-width: 87px;
				}
			}
			&.img-2 {
				max-width: 80px;
				@media (min-width:toEm($mobileSmall)){
					max-width: 116px;
				}
			}
			&.img-3 {
				max-width: 80px;
				@media (min-width:toEm($mobileSmall)){
					max-width: 123px;
				}
			}
		}
		span {
			display: block;
			@extend %bgImage;
			background-image: url("@img/icons/cross.svg");
			width: 14px;
			height: 14px;
			flex: 0 0 14px;
			@media (min-width:toEm($mobileSmall)){
				// order: 2;
				width: 12px;
				height: 12px;
				flex: 0 0 12px;
			}
		}
}

%mbSection {
	margin-bottom: 70px;
	@media (min-width:toEm(1000.98)){
		margin-bottom: 0px;
	}
}

.sport-section {
	padding-block: 0;

	@media (min-width:toEm(1000.98)){
		padding-block: 120px;
	}
	[class*="__container"] {
			@media (min-width:toEm(1000.98)){
				min-height: 100%;
				display: flex;
				align-items:center;
			}
	}
}

%brCorner {
	border-radius: 20px;
	border: 2px solid rgb(255, 255, 255, 0.5);
	overflow: hidden;
	background: linear-gradient(11deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 100%);
}

.sport-info {
	@extend %mbSection;
		// .sport-info__container
		&__container {
			// @media (min-width:toEm(1000.98)){
			// 	min-height: 100%;
			// 	display: flex;
			// 	align-items:center;
			// }
		}
		// .sport-info__body
		&__body {
			@media (min-width:toEm(820.98)){
				display: flex;
				align-items: center;
				width: 100%;
			}
		}

		// .sport-info__swiper
		&__swiper {
			display: flex;
			justify-content: center;
			margin-bottom: 58px;
			@media (min-width:toEm(820.98)){
				width: 50%;
				padding-left: 63px;
				margin-bottom: 0px;
			}
		}

		// .sport-info__slider
		&__slider {
			overflow: visible;
			position: relative;
			display: flex;
			max-width: 205px;
				aspect-ratio: 205/365;
				.swiper-pagination {
					@media (max-width:toEm($mobileSmall)){
						position: absolute;
						bottom: -28px; 
						left: 50%;
						transform: translate(-50%,0);
					}
				}
			}
			// .sport-info__wrapper
			&__wrapper {
			}
		// .sport-info__slide
		&__slide {
			cursor: pointer;
			position: relative;
			aspect-ratio: 205/365;
			@extend %brCorner;
			&:after,
			&:before {
				content:'';
				pointer-events: none;
				position: absolute;
				z-index: 2;
			}
			&::after {
				@extend %absoluteCenter;
				width: 56px;
				height: 56px;
				@extend %bgImage;
				background-image: url("@img/icons/play.svg");
				z-index: 1;
				
			}
			&:before {
				inset: 0;
				background-color: var(--blue);
				opacity: .5;
				transition: opacity .45s ease;
			}
			video {
				pointer-events: none;
					background: linear-gradient(225deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 100%);
			}
			&.swiper-slide-active {
				opacity: 1;
				&::before {
					opacity: 0;
				}
				video {
					pointer-events: all;
				}
			}
			&.--show {
				&::after {
					opacity: 0;
				}
			}
		}
		// .sport-info__video
		&__video {
			@extend %ibg;
			aspect-ratio: 205/365;
			border-radius: 18px;
		}
		// .sport-info__pagination
		&__pagination {
		}
		// .sport-info__nav
		&__nav {
			position: absolute;
			z-index: 3;
			flex: 0 0 31px;
			bottom: 32px;
			&.swiper-button-prev {
				left: -50px;
			}
			&.swiper-button-next {
				right: -50px;
			}
		}
		// .sport-info__texts
		&__texts {
			@media (min-width:toEm(820.98)){
				width: 50%;
				padding-left: 51px;
			}
			@media (max-width: toEm(820.98)) and (min-width:toEm($mobileSmall)) {
				max-width: max-content;
				margin-inline: auto;
			}
		}
		// .sport-info__title
		&__title {
			text-align: center;
			margin-bottom: 30px;
			@media (min-width:toEm(820.98)){
				text-align: start;
				margin-bottom: 20px;
			}
		}
		// .sport-info__txt
		&__txt {
			@media (min-width:toEm($mobileSmall)){
				max-width: 340px;
			}
			p {
				font-weight: 400;
				font-size: 16px;
				color: var(--primary);
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
}

.sport-strength {
			@extend %mbSection;
		@media (max-width: toEm(1000.98)){
			  position: relative;
		}
		// .sport-strength__bgs
		&__bgs {
			position: absolute;
			inset: 0;
			z-index: 0;
			@media (min-width:toEm(1000.98)){
				overflow: hidden;
			}
		}

		// .sport-strength__bg
		&__bg {
			position: absolute;
			display: block;
			@extend %bgImage;
			aspect-ratio: 320/326;
			background-size:contain;
			width: 160px;
			height: auto;
			pointer-events: none;
			background-image: url("@img/gloves/glow-1.png");
			@media (min-width:toEm(1000.98)){
				width: 450px;
			}
		}

		// .sport-strength__bg--1
		&__bg--1 {
			left: 5%;
			transform: translate(-50%,0) scaleX(-1);
			
			@media (min-width:toEm(1000.98)){
				bottom: 0%;
				transform: translate(-22%,10%) scaleX(-1);
			}
			@media (max-width: toEm(1000.98)){
				top: calc(100% / 3.7);
			}
		}

		// .sport-strength__bg--2
		&__bg--2 {
			right: 5%;
			transform: translate(50%,0);
			@media (min-width:toEm(1000.98)){
				top: 0%;
				right: 0%;
				transform: translate(33%,-5%) rotate(-8deg);
			}
			@media (max-width: toEm(1000.98)){
				top: 0;
				transform: translate(50%,-30%);
			}
		}

		// .sport-strength__bg--3
		&__bg--3 {
			left: 5%;
			bottom: 0;
			transform: translate(-50%,50%) scaleX(-1);
			@media (min-width:toEm(820.98)){
				display: none;
			}
		}
		
		// .sport-strength__bg--4
		&__bg--4 {
			right: 5%;
			bottom: calc(100% / 3.7);
			transform: translate(50%,0);
			@media (min-width:toEm(820.98)){
				display: none;
			}
		}

			// .sport-strength__container
			&__container {
				position: relative;
				z-index: 1;
				// overflow: hidden;
				// &::before,
				// &::after {
				// 	content:'';
				
				// }
				&:before {
					
				}
				&::after {
				
				}
		}

		// .sport-strength__wrapper
		&__wrapper {
			position: relative;
			z-index: 1;
			display: grid;
			max-width: 75%;
			gap: 50px;
			margin-inline: auto;
			@media (min-width:toEm(820.98)){
				grid-template-columns: repeat(3, 1fr);
				gap: 40px;
				align-items: center;
				width: 100%;
				max-width: 836px;
			}
		}

		// .sport-strength__card
		&__card {
			height: 100%;
			&.--show {
					.sport-strength__img-1 {
						opacity: 0;
					}
					.sport-strength__img-2 {
						opacity: 1;
					}
			}
		}

		// .sport-strength__title
		&__title {
			font-family: "Oswald",sans-serif;
	    color: var(--primary);
	    font-size: 28px;
	    margin: 0;
	    letter-spacing: unset;
	    line-height: 1.05;
	    text-transform: uppercase;
			text-align: center;
			margin-bottom: 14px;
		}

		// .sport-strength__body
		&__body {
			position: relative;
			overflow: hidden;
			aspect-ratio: 252/282;
			cursor: pointer;
			margin-bottom: 15px;
			img {
				z-index: 1;
				width: 100%;
				height: auto;
				aspect-ratio: 252/282;
				transition: opacity .2s ease;
			}
			&::before {
				content:'';
				position: absolute;
				left: 50%;
				transform: translate(-50%,0);
				bottom: 0;
				z-index: 0;
				aspect-ratio: 200/267;
				width: 79%;
				height: 94%;
				// max-width: 200px;
				// max-height: 267px;
				@extend %brCorner;
			}
			@media (any-hover: hover){
				&:hover{
					.sport-strength__img-1 {
						opacity: 0;
					}
					.sport-strength__img-2 {
						opacity: 1;
					}
				}
			}
		}

		// .sport-strength__img-1
		&__img-1 {
			position: relative;
		}

		// .sport-strength__img-2
		&__img-2 {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%,0);
			opacity: 0;
		}

		// .sport-strength__txt
		&__txt {
			padding-inline: 30px;
			@media (min-width:toEm($mobileSmall)){
				padding-inline: 20px;
			}
			p {
				font-weight: 400;
				font-size: 16px;
				color: var(--primary);
				margin: 0;
				text-align: center;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
}


.imgs {
		position: relative;
			aspect-ratio: 196/320;
			max-width: 196px;
			@media (min-width:toEm(820.98)){
				transition: transform .65s ease 0.3s, opacity .65s ease 0.3s;
				opacity: 0;
				transform: translate(0,0);
			}
			&::before {
				content:'';
				@extend %brCorner;
				position: absolute;
				width: 100%;
				height: auto;
				aspect-ratio: 142/176;
				top: 15%;
				opacity: .6;
				transition: transform .65s ease 0.3s;
				transform: translate(0,0);
				@media (min-width:toEm($mobileSmall)){
					top: 25%;
					aspect-ratio: 1;
					  
				}
			}
			img {
				position: relative;
				z-index: 1;
				aspect-ratio: 196/320;
				width: 100%;
				height: auto;
			}
}

.sport-formats {
		@extend %mbSection;
		@extend %bgImage;
		@media (min-width:toEm(1000.98)){
			background-image: url('@img/bgs/bg-2-pc.png');
		}	
		// .sport-formats__container
		&__container {
		}

		// .sport-formats__body
		&__body {
			width: 100%;
		}

		// .sport-formats__title
		&__title {
			text-align: center;
			margin-bottom: 16px;
		}

		// .sport-formats__slider
		&__slider {
			position: relative;
			&.swiper {
				overflow: visible;
				@media (min-width:toEm(820.98)){
					overflow: hidden;
				}
			}
		}
		
		// .sport-formats__wrapper
		&__wrapper {
			position: relative;
			z-index: 0;
			margin-bottom: 20px;
			@media (min-width:toEm($mobileSmall)){
				margin-bottom: 0px;
			}
		}

		// .sport-formats__slide
		&__slide {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;

			@media (min-width:toEm(820.98)){
				&.swiper-slide-active {
					.sport-formats__texts,
					.sport-formats__img,
					.sport-formats__img-2,
					.sport-formats__img-3 {
						opacity: 1;
					}
				}
				&.swiper-slide-prev {
					.sport-formats__img {
						transform: translate(0%,-100%);
						transition-delay: 0s;
						&::before {
							transform: translate(0%,-100%);
							transition-delay: 0s;
						}
					}
					.sport-formats__img-2 {
						transform: translate(0%,-100%);
						transition-delay: 0.05s;
						&::before {
							transform: translate(0%,-100%);
							transition-delay: 0.05s;
						}
					}
					.sport-formats__img-3 {
						transform: translate(0%,-100%);
						transition-delay: 0.1s;
						&::before {
							transform: translate(0%,-100%);
							transition-delay: 0.1s;
						}
					}
				}
				&.swiper-slide-next {
					.sport-formats__img {
						transform: translate(0%,100%);
						transition-delay: 0s;
							&::before {
							transform: translate(0%,100%);
							transition-delay: 0s;
						}
					}
					.sport-formats__img-2 {
						transform: translate(0%,100%);
						transition-delay: 0.05s;
							&::before {
							transform: translate(0%,-100%);
							transition-delay: 0.05s;
						}
					}
					.sport-formats__img-3 {
						transform: translate(0%,100%);
						transition-delay: 0.1s;
							&::before {
							transform: translate(0%,-100%);
							transition-delay: 0.1s;
						}
					}
				}
			}
			@media (min-width:toEm(820.98)){
				grid-template-columns: 1fr auto auto;
			}
		}

		// .sport-formats__info
		&__info {
			display: grid;
			grid-template-columns: 41% auto;
			gap: 20px;
			@media (min-width:toEm($mobileSmall)){
				grid-template-columns: 43% auto;
			}
		}

		// .sport-formats__img
		&__img {
			
		}


		// .sport-formats__texts
		&__texts {
			@media (min-width:toEm(820.98)){
				opacity: 0;
				transition: opacity .65s ease 0s;
			}
		}

		// .sport-formats__title-sl
		&__title-sl {
			p {
				position: relative;
				padding-top: 15%;
				font-family: "Oswald",sans-serif;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 32px;
				color: var(--primary);
				margin: 0;
				&:not(:last-child) {
					 margin-bottom: 20px;
				}
				@media (min-width:toEm($mobileSmall)){
						padding-top: 30%;
						
				 }
			}
		}

		// .sport-formats__txt
		&__txt {
		}

		// .sport-formats__img-2
		&__img-2 {
			display: none;
			@media (min-width:toEm(820.98)){
				display: block;
			}
			img {
			}
		}
		
		// .sport-formats__img-3
		&__img-3 {
			display: none;
			@media (min-width:toEm(820.98)){
				display: block;
			}
			img {
			}
		}

		// .sport-formats__pagination
		&__pagination {
			justify-content: center;
			&.swiper-pagination {
			}
		}

		// .sport-formats__navs
		&__navs {
			display: none;
			@media (min-width:toEm($mobileSmall)){
				position: absolute;
				bottom: 15px;
				left: 11px;
				z-index: 2;
				 display: flex;
				 align-items: center;
				 gap: 110px; 
			}
		}

		// .sport-formats__nav
		&__nav {
			display: none;
			@media (min-width:toEm($mobileSmall)){
				 display: block; 
			}
			&.swiper-button-prev {
			}
			&.swiper-button-next {
			}

		}
}


.sport-social {
	padding-block: 0 60px;
	@media (min-width:toEm(1000.98)){
		padding-block: 120px;
	}
	ul,ol {
		margin: 0;
		li {
			list-style: none;
			&::before {
				display: none;
			}
		}
	}
		// .sport-social__container
		&__container {
			@media (min-width:toEm($mobile)){
				display: flex;
				justify-content: center;
			}
		}
		
		// .sport-social__cards-slider
		&__cards-slider {
		}

		// .sport-social__body
		&__body {
			// width: 100%;
				// margin: 0 -20px 0;
				@media (min-width:toEm($mobile)){
					max-width: 720px;
				}
				// @media (min-width:toEm($mobile)){
				// 	padding-inline: 0;
				// 	margin-inline: 0; 
				// }
			}
			
			// .sport-social__title
			&__title {
				text-align: center;
				margin-bottom: 30px;
				@media (min-width:toEm($mobileSmall)){
					margin-bottom: 25px; 
				}
			}
			
			// .sport-social__cards
			&__cards {
				display: flex;
				overflow: auto;
				scroll-snap-type: x mandatory;
				gap: 20px;
				
				padding: 0 20px 0;
				@media (min-width:toEm($mobile)){
					gap: 30px;
					 padding: 0; 
				}
		
      &::-webkit-scrollbar {
        display: none;
      }
		}

		// .sport-social__card
		&__card {
	

		}

		// .sport-social__slider
		&__slider {
			margin-bottom: 30px;
			@media (min-width:toEm($mobileSmall)){
				margin-bottom: 0px;
			}
			&.swiper {
				@media (max-width: toEm(768.98)){
					overflow: visible;						
				}
			}
		}

		// .sport-social__wrapper
		&__wrapper {
			margin-bottom: 20px;
			@media (min-width:toEm($mobile)){
				 display: flex;
				 align-items: center;
				 flex-wrap: wrap;
				 gap: 30px; 
			}
		}

		// .sport-social__slide
		&__slide {
				position: relative;
			  // width: 56%;
				// max-width: 56%;
				// scroll-snap-align: center;
				padding: 0 10px 10px 10px;
				// overflow-y: hidden;
				// height: 100%;
				&::after {
					content:'';
					@extend %brCorner;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: auto;
					aspect-ratio: 1;
				}
				img {
					width: 100%;
					height: auto;
				}
				@media (min-width:toEm($mobile)){
					max-width: 220px;
					// width: unset;
				}
		}

				// .sport-social__pagination
		&__pagination {
			justify-content: center;
		}

		// .sport-social__card-link
		&__card-link {
			position: relative;
			z-index: 1;
			img {

			}
		}

		// .sport-social__links
		&__links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px;
		}

		// .sport-social__link
		&__link {
			@media (min-width:toEm($mobile)){
				flex: 1;
			}
		}

		// .sport-social__btn
		&__btn {
		}
}

.btn-social {
	position: relative;
	
	text-decoration: unset;
	color: var(--primary);
	transition: unset;
	
	@media (min-width:toEm($mobile)){
		
			border-radius: 20px;
			overflow: hidden;
			background:linear-gradient(11deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
			
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 220px;
			gap: 15px;
		
	}

	@media (any-hover: hover){
		&:hover{
			.btn-social__t {
				color: var(--blue);
			}
		}
	}

	
	&::before {
		content:'';
		position: absolute;
		z-index: 0;
		inset: 0;
		border-radius: 20px;
		border: 2px solid rgb(255, 255, 255, 0.2);
		@media (max-width:toEm($mobile)){
			 display: none; 
		}
	}

	@media (min-width:toEm($mobile)){
	}
	&--disabled {
		pointer-events: none;
		opacity: 0.3;
	}
		// .btn-social__ic
		&__ic {
			background-color: var(--primary);
			max-width: 54px;
			border-radius: 20px;
			img {
				width: 100%;
				height: auto;
				aspect-ratio: 1;
			}
		}

		// .btn-social__t
		&__t {
			font-weight: 700;
			font-size: 18px;
			color: var(--primary);
			transition: color .3s ease;
			@media (max-width:toEm($mobile)){
				 display: none; 
			}
		}
}
