<script type="module" src="@components/pages/banner/banner.js"></script>
<link rel="stylesheet" href="@components/pages/banner/banner.scss">

<main class="page page--banner">

	<div class="banner-big">
		<div class="banner-big__bg">
			<img class="ibg" src="@img/bgs/bg-1-pc.png" width="1440" height="680" alt="Image">
		</div>
		<div class="banner-big__main">
			<img class="banner-big__img-mb" src="@img/bgs/bg-1-mb-3.png" width="634" height="474" alt="Image">
			<picture>
				<source srcset="@img/ban/ban-main.png" media="(min-width: 51.311em)" type="image/webp">
				<source srcset="@img/ban/ban-vert.png" media="(max-width: 51.311em)" type="image/webp">
				<img class="banner-big__img ibg" src="@img/ban/ban-main.png" width="1440" height="680" alt="image">
			</picture>
			<a href="#" class="banner-big__btn" aria-label="link">
				<span>Детальніше</span>
			</a>
		</div>
	</div>
	<div class="banner-sm">
		<button type="button" class="banner-sm__close" aria-label="close modal">
			<img src="@img/icons/cross.svg" width="12" height="12" alt="Image">
		</button>
		<a href="#" class="banner-sm__link" aria-label="link">
			<img src="@img/ban/ban-sm.png" width="408" height="216" alt="Image">
		</a>
	</div>
</main>
